REDIS_URL=redis://127.0.0.1:6379
DATABASE_URL=mysql://root:toor@localhost:3306/animakuro

CONFIRM_CODE_EXPIRES=999999
FRONT_DOMAIN=https://some.domain

MAILER_HOST=mail.animakuro.com
MAILER_PORT=587
MAILER_EMAIL=noreply@animakuro.com
MAILER_PASSWORD=some-password
MAILER_SENDER_NAME=Animakuro

ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET_KEY
ACCESS_TOKEN_SECRET_EXP_IN=100
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET_KEY
REFRESH_TOKEN_SECRET_EXP_IN=3600
EMAIL_TOKEN_SECRET=EMAIL_TOKEN_SECRET_KEY
EMAIL_TOKEN_SECRET_EXP_IN=5000
RESET_PASS_TOKEN_SECRET=RESETPASS_TOKEN_SECRET_KEY
RESET_PASS_TOKEN_SECRET_EXP_IN=6000
