REDIS_URL=redis://127.0.0.1:6379
DATABASE_URL=mysql://root:toor@localhost:3306/animakuro

MAILER_HOST=mail.animakuro.com
MAILER_PORT=587
MAILER_EMAIL=noreply@animakuro.com
MAILER_PASSWORD=some-password
MAILER_SENDER_NAME=Animakuro

JWT_SECRET=secret
